.mp__songDetails {
    display: flex;
    flex-direction: column;
    margin: 2rem;
    overflow-x: hidden;
    overflow-y: scroll;
}

.mp__songDetails-title {
    display: flex;
    align-items: center;
    background: var(--bgc-charcoal);
    color: var(--bgc-yellow);
    padding: 2rem;
}

.mp__songDetails-title img {
    width: 200px;
    height: 200px;
    object-fit: contain;
    margin: 0 1.5rem;
    border-radius: 50%;
}

.mp__songDetails-header {
    flex: 1;
}

.mp__songDetails-header h4 {
    font-family: var(--ff-yanone-bold);
    font-size: 2em;
    flex: 1;
}

.mp__songDetails-subheader {
    display: flex;
    padding: 0.75rem;
    align-items: center;
}

.mp__songDetails-subheader svg {
    font-size: 1.2em;
    margin-right: 0.75rem;
}

.mp__songDetails-subheader span {
    font-family: var(--ff-yanone-light);
    font-size: 1.5em;
    padding-top: 0.5rem;
}

.mp__songDetails-subheader span > a {
    text-decoration: none;
    color: var(--bgc-yellow);
}

.mp__songDetails-content {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-auto-rows: 1fr;
    margin: 1.2rem 0;
    width: 100%;
    place-items: center;
    gap: 1rem;
}

.mp__songDetails-content span, p {
    font-family: var(--ff-yanone-light);
    font-size: 1em;
}

.mp__songDetails-content p {
    display: flex;
    align-items: center;
}

.mp__songDetails-lyrics h2 {
    font-family: var(--ff-yanone-bold);
    font-size: 3em;
}

.mp__songDetails-lyrics span {
    font-family: var(--ff-yanone-light);
    font-size: 2em;
}

.mp__songDetails::-webkit-scrollbar {
    visibility: hidden;
}


@media screen and (max-width: 900px) {
    .mp__songDetails-lyrics h2 {
        font-size: 2em;
    }
    
    .mp__songDetails-lyrics span {
        font-size: 1.2em;
    }
}

@media screen and (max-width: 600px) {
    .mp__songDetails-title {
        flex-direction: column;
    }

    .mp__songDetails-header h4 {
        text-align: center;
    }

    .mp__songDetails-lyrics {
        text-align: center;
    }
}