.mp__sidebar {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0.75rem;
    background: var(--bgc-eggplant);
    color: var(--bgc-yellow);
}

.mp__sidebar-logo {
    display: flex;
    justify-content: center;
    align-items: center;
}

.mp__sidebar-logo svg {
    width: 50px;
    height: 50px;
    object-fit: contain;
    margin: 0.5rem;
}

.mp__sidebar-logo span {
    font-family: var(--ff-yanone-bold);
    font-size: 2em;
}

.mp__sidebar-links {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
}

.mp__sidebar-link {
    width: 100%;
    padding: 1.25rem;
    display: flex;
    justify-content: flex-start;
    color: var(--bgc-yellow);
    text-decoration: none;
    font-family: var(--ff-yanone-light);
    font-size: 1.5em;
}

.mp__sidebar-link svg {
    width: 20px;
    height: 20px;
    margin: 0 1.2rem;
}

.mp__sidebar-mobile {
    position: absolute;
    top: 0;
    width: 100%;
    margin: 0 1.5rem;
    color: var(--bgc-white);
    cursor: pointer;
}

.mp__sidebar-mobile > svg {
    position: absolute;
    right: 0;
    margin: 1.5rem;
    font-size: 2em;
    z-index: 100;
}

.h-full {
    height: 100%;
}

.mp__sidebar-mobile > .mp__sidebar-links > .mp__sidebar-link {
    justify-content: center;
    margin-top: 5rem;
}

.slider {
    background: var(--bgc-black);
    z-index: 10;
    height: 100%;
    opacity: 90%;
}
